@media screen and (max-width: 980px){

    .book-progress__item p {
        font-size: 17px;
        line-height: 28px;
        text-align: center;
        margin-top: 15px;
        text-shadow: 0 0 3px #989393;
    }
    .book-progress__item:not(.book-progress__item-cover) {
        padding: 30px 10px;
    }
}




@media screen and (max-width: 950px){
    .ab-main-information{
        flex-direction: column;
        margin-top: 25px;
    }
    .ab-video__video{
        margin: 20px auto 0;
        width: 60%;
    }
    .ab-main-about-company{
        margin-right: 0;
        width: 100%;
    }
}

@media screen and (max-width: 780px){
    .ab-video__video{
        width: 85%;
    }
}

@media screen and (max-width: 700px){
    .ab-video__video{
        width: 98%;
    }
}
@media screen and (max-width: 690px){
    .wrapper-certificates-and-awards{
        width: 80%;
        margin: 20px auto;

    }
}
@media screen and (max-width: 650px){
    .ab-slider-history .owl-carousel {
        margin-top: 60px;
    }

    .ab-camera {
        top: 18%;
        width: 70px;
    }
}
@media screen and (max-width: 480px) {
    .country-production .row-4-column__col {
        width: calc(100%/1  - 16px);
    }
}
@media screen and (max-width: 460px){
    .ab-video__video{
        width: 98%;
    }
    .wrapper-certificates-and-awards{
        width: 100%;
    }
}
@media screen and (max-width: 450px){
    .ab-slider-history__description{
        bottom: 18%;
    }
}
@media screen and (max-width: 300px) {
    .col-new-4 {
        width: calc(100%/1  - 16px);
    }
}